name: x-mingw-w64+gnu-binutils
version: '2.45'
$version: '2.45'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: GNU Bin Utils for MingW-w64.
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/binutils/binutils-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
  type: bin
  configure: 'mv(''data/binutils-<THIS.$VERSION>'', ''root/var/x-mingw-w64/binutils'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
