subpackage:
  - runtime*
name: mbayer+html2text
version: 2.4.0
$version: 2.4.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'A command line utility, that converts HTML documents into plain text'
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://gitlab.com/grobian/html2text/-/archive/v<THIS.$VERSION>/html2text-v<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
     && ./configure
  rules:
    type: make
    location: data/html2text-v<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: ''
    test: none
    env: {}
  deploy: '!install -D -s -m 755 <THIS.DATA.RULES.LOCATION>/html2text -t <PEON.PREFIXDIR>/bin'
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
