subpackage:
  - runtime*
  - x+bin:linux-aarch64
name: unigw+wpkg-rpi4b
version: 1.0.2
$version: 1.0.2
distribution: raspberry/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: A Unix Packager For MS-Windows Systems
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
    xcraft+build-essential:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-gcc-glibc-cross:
      - version: ''
        architecture: []
bump:
  - carnotzet+os-rpi4b
data:
  get:
    uri: 'https://github.com/Xcraft-Inc/wpkg/archive/1f085ae33a2f00b9a569acc82776013de1a45b00.tar.gz'
    mirrors: []
    ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !mkdir -p <THIS.DATA.RULES.LOCATION>
      && mkdir -p <THIS.DATA.RULES.LOCATION>/../wpkg/controlled_vars/build
      && cd <THIS.DATA.RULES.LOCATION>/../wpkg/controlled_vars/build
      && cmake ..
      && make
      && cd -
      && cd <THIS.DATA.RULES.LOCATION>
      && cmake -G "Unix Makefiles"
               -DCMAKE_TOOLCHAIN_FILE=../cmake/Toolchain-cross-aarch64-linux.cmake
               ..
      && cp ../wpkg/controlled_vars/build/controlled_vars ./controlled_vars
  rules:
    type: script
    location: data/wpkg-1f085ae33a2f00b9a569acc82776013de1a45b00/build
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        !export PATH="$(pwd):$PATH"
          && make -j<PEON.CPUS.COUNT>
      maketest: ''
      makeinstall: |-
        cp("wpkg-Release/tools/wpkg_static", "<PEON.INSTALLDIR.X+BIN>/usr/bin/wpkg");
        cp('<PEON.ASSETS>/sources.list',     '<PEON.INSTALLDIR.X+BIN>/boot/sources.list');
        cp('<PEON.ASSETS>/postinst',         '<PEON.INSTALLDIR.X+BIN>/WPKG/postinst');
        cp('<PEON.ASSETS>/prerm',            '<PEON.INSTALLDIR.X+BIN>/WPKG/prerm');
        cp('<PEON.ASSETS>/conffiles',        '<PEON.INSTALLDIR.X+BIN>/WPKG/conffiles');
    test: none
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
