subpackage:
  - runtime*
  - x+bin:linux-aarch64
name: carnotzet+rootfs-rpi4b
version: 0.1.0-5
$version: 0.1.0
distribution: raspberry/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Carnotzet Operating System
  long: ''
dependency: {}
bump:
  - carnotzet+os-rpi4b
  - carnotzet+rescuefs-rpi4b
data:
  get:
    uri: ''
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: false
    prepare: |-
      cp('<PEON.ASSETS.GLOBAL>/root', '<PEON.WPKG.STAG>/usr/share/carnotzet/rootfs-rpi4b/data');
  type: src
  configure: ''
  rules:
    type: script
    location: ''
    args:
      postinst: ''
      prerm: ''
      makeall: ''
      maketest: ''
      makeinstall: |-
        cp('<PEON.WPKG.STAG>/usr/share/carnotzet/rootfs-rpi4b/data', '<PEON.INSTALLDIR.X+BIN>');
        cp('<PEON.ASSETS.GLOBAL>/conffiles', '<PEON.INSTALLDIR.X+BIN>/WPKG/conffiles');
        cp('<PEON.ASSETS.GLOBAL>/postinst',  '<PEON.INSTALLDIR.X+BIN>/WPKG/postinst');
        cp('<PEON.ASSETS.GLOBAL>/prerm',     '<PEON.INSTALLDIR.X+BIN>/WPKG/prerm');
    test: ''
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
