subpackage:
  - runtime*
name: alsa+lib
version: 1.2.14
$version: 1.2.14
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Advanced Linux Sound Architecture (ALSA) project
  long: The alsa-lib is a library to interface with ALSA in the Linux kernel and virtual devices using a plugin system.
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'http://www.alsa-project.org/files/pub/lib/alsa-lib-<THIS.$VERSION>.tar.bz2'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
      && ./configure --prefix=<PEON.PREFIXDIR>
  rules:
    type: make
    location: data/alsa-lib-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
