name: x-arm-linux+gnueabihf-gcc5
version: 5.5.0
$version: 5.5.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: 'GCC, the GNU Compiler Collection.'
  long: |-
    The GNU Compiler Collection includes front ends for C, C++, Objective-C,
    Fortran, Java, Ada, and Go, as well as libraries for these languages
    (libstdc++, libgcj,...).
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'ftp://ftp.fu-berlin.de/unix/languages/gcc/releases/gcc-<THIS.$VERSION>/gcc-<THIS.$VERSION>.tar.xz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    $hash: 5.5.0@530cea139d82fe542b358961130c69cfde8b3d14556370b65823d2f91f0ced87.tar.xz
  type: bin
  configure: 'mv(''data/gcc-<THIS.$VERSION>'', ''root/var/x-arm-linux/gcc5'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
