name: x-arm-linux+gnueabihf-glibc
version: '2.38'
$version: '2.38'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: The GNU C Library
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/glibc/glibc-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    $hash: 2.38@fb82998998b2b29965467bc1b69d152e9c307d2cf301c9eafb4555b770ef3fd2.tar.xz
  type: bin
  configure: 'mv(''data/glibc-<THIS.$VERSION>'', ''root/var/x-arm-linux/glibc'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
