name: appimage+appimagetool
version: '907'
$version: '907'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: mathieu@schroetersa.ch
architecture:
  - linux-amd64
description:
  brief: Go implementation of AppImage tools
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://github.com/probonopd/go-appimage/releases/download/continuous/appimagetool-<THIS.$VERSION>-x86_64.AppImage'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    $hash: 907@398cabd8f7fb62ae81ec359f93b06c07151f994477fb2c1b48990a7af4afaca9.AppImage
  type: bin
  configure: |-
    mv('appimagetool-<THIS.$VERSION>-x86_64.AppImage', 'root/usr/bin/appimagetool-x86_64.AppImage');
    yield exec('chmod', 'a+x', 'root/usr/bin/appimagetool-x86_64.AppImage');
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
