name: x-aarch64-linux+linux-kernel
version: 6.12.21
$version: 6.12.21
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: The Linux Kernel
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    $hash: 6.12.21@9d1ae39a2ea024d99646f645fdbbbfa4545577132ba2643e01df75e32246d6c7.tar.xz
  type: bin
  configure: 'mv(''data/linux-<THIS.$VERSION>'', ''root/var/x-aarch64-linux/linux'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
