name: microsoft+dotnet-sdk-90-darwin-arm
version: 9.0.101
$version: 9.0.101
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - darwin-aarch64
description:
  brief: .NET SDK
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+utils:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://download.visualstudio.microsoft.com/download/pr/6707b71c-f95b-46b9-a4f8-067922291242/93d5be41bfa39461c47bae856a8ad93c/dotnet-sdk-<THIS.$VERSION>-osx-arm64.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    $hash: 9.0.101@02af7e1225f5f68c47a879fc1180d6382b85d7b2bf6463b10190a5dae941ed6c.tar.gz
  type: bin
  configure: |-
    yield exec(
      'writefile',
      '#!/bin/sh\ndotnet msbuild "$@"\n',
      'data/sdk/<THIS.$VERSION>/msbuild'
    );
    yield exec('chmod', 'a+x', 'data/sdk/<THIS.$VERSION>/msbuild');
  rules:
    type: configure
    location: data
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
