name: appimage+linuxdeploy-plugin-qt
version: '3:1-alpha-20250213-1-1'
$version: 1-alpha-20250213-1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: mathieu@schroetersa.ch
architecture:
  - linux-amd64
description:
  brief: Qt plugin for linuxdeploy
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/<THIS.$VERSION>/linuxdeploy-plugin-qt-x86_64.AppImage'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
  type: bin
  configure: |-
    mv('linuxdeploy-plugin-qt-x86_64.AppImage', 'root/usr/bin/linuxdeploy-plugin-qt-x86_64.AppImage');
    yield exec('chmod', 'a+x', 'root/usr/bin/linuxdeploy-plugin-qt-x86_64.AppImage');
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
