name: microsoft+dotnet-sdk-100-win
version: 10.0.103
$version: 10.0.103
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - mswindows-i386
  - mswindows-amd64
description:
  brief: .NET Core SDK
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://builds.dotnet.microsoft.com/dotnet/Sdk/<THIS.$VERSION>/dotnet-sdk-<THIS.$VERSION>-win-x64.zip'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
  type: bin
  configure: ''
  rules:
    type: configure
    location: data
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other: {}
  embedded: true
