subpackage:
  - runtime*
name: vlasenko+busybox
version: 1.37.0
$version: 1.37.0
distribution: carnotzet/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: The Swiss Army Knife of Embedded Linux
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    xcraft+build-essential:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://www.busybox.net/downloads/busybox-<THIS.$VERSION>.tar.bz2'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 1.37.0@3311dff32e746499f4df0d5df04d7eb396382d7e108bb9250e7b519b837043a4.tar.bz2
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
      && make defconfig
      && sed -i 's,^# CONFIG_STATIC.*,CONFIG_STATIC=y,' .config
      && mkdir -p "<PEON.INSTALLDIR>/var/linux/rootfs"
  rules:
    type: make
    location: data/busybox-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: -j<PEON.CPUS.COUNT>
      maketest: ''
      makeinstall: install CONFIG_PREFIX="<PEON.INSTALLDIR>/var/linux/rootfs"
    test: none
    env: {}
  deploy: rm("<PEON.INSTALLDIR>/var/linux/rootfs/linuxrc");
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
