subpackage:
  - runtime*
name: kitware+cmake
version: 3.31.9
$version: 3.31.9
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: 'Build, Test and Package Your Software With CMake.'
  long: 'CMake is an open-source, cross-platform family of tools designed to build, test and package software.'
dependency:
  install:
    openssl+openssl:
      - version: ''
        architecture: []
        subpackage:
          - runtime
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    gnu+make:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://github.com/Kitware/CMake/releases/download/v<THIS.$VERSION>/cmake-<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 3.31.9@5d4fdec04247ca8a8e8f63692f0d0f1e9d6d082a2bdd008dff8ab3ba7215aa83.tar.gz
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION> ;
    ./bootstrap --prefix=<PEON.PREFIXDIR>
                --parallel=<PEON.CPUS.COUNT>
                -- -DCMAKE_BUILD_TYPE=Release
                   -DCMAKE_C_FLAGS_RELEASE="$CFLAGS"
                   -DCMAKE_CXX_FLAGS_RELEASE="$CXXFLAGS"
                   -DCMAKE_EXE_LINKER_FLAGS="$LDFLAGS"
  rules:
    type: make
    location: data/cmake-<THIS.$VERSION>/
    args:
      postinst: ''
      prerm: ''
      makeall: '-j<PEON.CPUS.COUNT>'
      maketest: ''
      makeinstall: install
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
