subpackage:
  - runtime*
name: carnotzet+os-rpi4b
version: 0.1.0-53
$version: 0.1.0
distribution: raspberry/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Carnotzet Operating System
  long: ''
dependency:
  install:
    carnotzet+os-config-rpi4b:
      - version: ''
        architecture: []
    carnotzet+rootfs-rpi4b:
      - version: ''
        architecture: []
    carnotzet+rescuefs-rpi4b:
      - version: ''
        architecture: []
    raspberry+linux-kernel-rpi4b:
      - version: ''
        architecture: []
    raspberry+linux-firmware-rpi4b:
      - version: ''
        architecture: []
    raspberry+uboot-rpi4b:
      - version: ''
        architecture: []
    raspberry+firmware-rpi4b:
      - version: ''
        architecture: []
    gnu+glibc-rpi64:
      - version: ''
        architecture: []
    gnu+libstdcxx-rpi64:
      - version: ''
        architecture: []
    vlasenko+busybox-rpi64:
      - version: ''
        architecture: []
    tytso+e2fsprogs-rpi64:
      - version: ''
        architecture: []
    dosfstools+dosfstools-rpi64:
      - version: ''
        architecture: []
    unigw+wpkg-rpi64:
      - version: ''
        architecture: []
    linux+util-linux-rpi64:
      - version: ''
        architecture: []
    malinen+wpa-supplicant-rpi64:
      - version: ''
        architecture: []
  build:
    tytso+e2fsprogs:
      - version: ''
        architecture: []
    linux+util-linux:
      - version: ''
        architecture: []
    gnu+mtools:
      - version: ''
        architecture: []
    e2tools+e2tools:
      - version: ''
        architecture: []
    debian+fakeroot:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: ''
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: false
    prepare: ''
  type: src
  configure: ''
  rules:
    type: script
    location: ''
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        const {genRoot, genImage} = imp('raspberry');

        yield cmd('pacman.syncRepository', {distribution: 'raspberry'});

        /* Generate the root for the MMC */
        yield genRoot('carnotzet', '<PEON.ASSETS.GLOBAL>', [
          'carnotzet+os-config-rpi4b-x+bin',
          'carnotzet+rootfs-rpi4b-x+bin',
          'carnotzet+rescuefs-rpi4b-x+bin',
          'raspberry+linux-kernel-rpi4b-x+bin',
          'raspberry+linux-kernel-rpi4b-x+modules',
          'raspberry+linux-firmware-rpi4b-x+bin',
          'raspberry+uboot-rpi4b-x+bin',
          'raspberry+firmware-rpi4b-x+bin',
          'gnu+glibc-rpi64-x+bin',
          'gnu+libstdcxx-rpi64-x+bin',
          'vlasenko+busybox-rpi64-x+bin',
          'linux+util-linux-rpi64-x+bin',
          'tytso+e2fsprogs-rpi64-x+bin',
          'dosfstools+dosfstools-rpi64-x+bin',
          'malinen+wpa-supplicant-rpi64-x+bin',
          'unigw+wpkg-rpi64-x+bin'
        ]);

        yield genImage('carnotzet',
          '<PEON.INSTALLDIR>/opt/img/carnotzet-os-<THIS.$VERSION>-rpi4b.img'
        );
      maketest: ''
      makeinstall: ''
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
