name: carnotzet+os-rpi4b
version: 0.1.0
$version: 0.1.0
distribution: raspberry/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - linux-i386
  - linux-amd64
  - linux-aarch64
description:
  brief: Carnotzet Operating System
  long: ''
dependency:
  install:
    carnotzet+rootfs-rpi4b:
      - version: ''
        architecture: []
    carnotzet+rescuefs-rpi4b:
      - version: ''
        architecture: []
    raspberry+rpi4b-linux-kernel:
      - version: ''
        architecture: []
    raspberry+rpi4b-uboot:
      - version: ''
        architecture: []
    raspberry+rpi4b-firmware:
      - version: ''
        architecture: []
    gnu+glibc-rpi4b:
      - version: ''
        architecture: []
    gnu+libstdcxx-rpi4b:
      - version: ''
        architecture: []
    vlasenko+busybox-rpi4b:
      - version: ''
        architecture: []
    tytso+e2fsprogs-rpi4b:
      - version: ''
        architecture: []
    dosfstools+dosfstools-rpi4b:
      - version: ''
        architecture: []
    unigw+wpkg-rpi4b:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: ''
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: false
  type: bin
  configure: ''
  rules:
    type: configure
    location: ''
    args:
      postinst: |-
        function* genRoot (rootDir, pkgs) {
          rm(rootDir);
          mkdir(rootDir);

          /* Prepare the WPKG admin directory */
          yield exec(
            'wpkg_static',
            '--root', rootDir,
            '--create-admindir', '<PEON.ASSETS>/admindir.control'
          );
          /* Add the Xcraft Raspberry WPKG source */
          yield exec(
            'wpkg_static',
            '--root', rootDir,
            '--add-sources', 'wpkg http://127.0.0.1:12321/ raspberry/'
          );
          /* Update the WPKG indices */
          yield exec(
            'wpkg_static',
            '--root', rootDir,
            '--update'
          );
          /* Deploy the packages */
          yield exec(
            'wpkg_static',
            '--keep-original-symlink-target',
            '--force-file-info',
            '--skip-hooks',
            '--root', rootDir,
            '--install', ...pkgs
          );
          /* Deploy global hooks */
          yield exec(
            'wpkg_static',
            '--root', rootDir,
            '--add-hooks', '<PEON.ASSETS>/postinst'
          );
        }

        /* Generate the root for the MMC */
        yield* genRoot('<PEON.PROD.ROOTDIR>/var/carnotzet', [
          'carnotzet+rootfs-rpi4b-x+bin',
          'carnotzet+rescuefs-rpi4b-x+bin',
          'raspberry+rpi4b-linux-kernel-x+bin',
          'raspberry+rpi4b-uboot-x+bin',
          'raspberry+rpi4b-firmware-x+bin',
          'gnu+glibc-rpi4b-x+bin',
          'gnu+libstdcxx-rpi4b-x+bin',
          'vlasenko+busybox-rpi4b-x+bin',
          'tytso+e2fsprogs-rpi4b-x+bin',
          'dosfstools+dosfstools-rpi4b-x+bin',
          'unigw+wpkg-rpi4b-x+bin'
        ]);
      prerm: |-
        /* Remove the WPKG root */
        rm('<PEON.PROD.ROOTDIR>/var/carnotzet');
    env: {}
  env:
    path: []
    other: {}
  embedded: true
