name: appimage+linuxdeploy
version: 1-alpha-20250213-2
$version: 1-alpha-20250213
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: mathieu@schroetersa.ch
architecture:
  - linux-amd64
description:
  brief: AppDir creation and maintenance tool
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://github.com/linuxdeploy/linuxdeploy/releases/download/<THIS.$VERSION>/linuxdeploy-x86_64.AppImage'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    $hash: 1-alpha-20250213-2@4648f278ab3ef31f819e67c30d50f462640e5365a77637d7e6f2ad9fd0b4522a.AppImage
  type: bin
  configure: |-
    mv('linuxdeploy-static-x86_64.AppImage', 'root/usr/bin/linuxdeploy-x86_64.AppImage');
    yield exec('chmod', 'a+x', 'root/usr/bin/linuxdeploy-x86_64.AppImage');
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
    env: {}
  env:
    path: []
    other:
      FUSERMOUNT_PROG: /bin/fusermount
  embedded: true
