subpackage:
  - runtime*
name: x-mingw-w64+gnu-gcc-cross
version: 14.3.0
$version: 14.3.0
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Windows MingW GCC cross-compiler
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
    xcraft+utils:
      - version: ''
        architecture: []
    estes+flex:
      - version: ''
        architecture: []
    gnu+m4:
      - version: ''
        architecture: []
    gnu+bison:
      - version: ''
        architecture: []
    gnu+wget:
      - version: ''
        architecture: []
    samba+ccache-gcc:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
          - linux-aarch64
    samba+ccache-clang:
      - version: ''
        architecture:
          - darwin-i386
          - darwin-amd64
          - darwin-aarch64
    wall+perl:
      - version: ''
        architecture: []
    gnu+coreutils:
      - version: ''
        architecture: []
    gnu+gmp:
      - version: '>= 4.3.2'
        architecture: []
    gnu+mpfr:
      - version: '>= 3.1.0'
        architecture: []
    gnu+mpc:
      - version: '>= 1.0.1'
        architecture: []
    inria+isl:
      - version: '>= 0.15'
        architecture: []
    x-mingw-w64+gnu-binutils:
      - version: ''
        architecture: []
    x-mingw-w64+mingw-w64:
      - version: ''
        architecture: []
    x-mingw-w64+gnu-gcc:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: ''
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: false
    prepare: ''
  type: src
  configure: |-
    mkdir('data/binutils');
    mkdir('data/headers');
    mkdir('data/gcc-bootstrap');
    mkdir('data/gcc');
    mkdir('data/crt');
  rules:
    type: script
    location: data
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        !_CC="$CC" _CXX="$CXX" _CFLAGS="$CFLAGS" _CXXFLAGS="$CXXFLAGS" _LDFLAGS="$LDFLAGS" _CPPFLAGS="$CPPFLAGS"
        && export BOOTSTRAP_PREFIX="$(pwd)/gcc-bootstrap-install"
        && unset LIBRARY_PATH

        && : /// binutils ///
          && cd binutils
          && CONFIGURE="<PEON.ROOTDIR>/var/x-mingw-w64/binutils/configure"
          && $CONFIGURE --prefix=
                        --target=x86_64-w64-mingw32
                        --disable-multilib
                        --disable-nls
                        --enable-targets=x86_64-w64-mingw32
                        --with-sysroot=/x86_64-w64-mingw32
                        --with-build-sysroot="<PEON.PREFIXDIR>/x86_64-w64-mingw32"
                        --with-gmp=<PEON.ROOTDIR>/usr
                        --with-mpfr=<PEON.ROOTDIR>/usr
                        --with-mpc=<PEON.ROOTDIR>/usr
                        --with-isl=<PEON.ROOTDIR>/usr
          && make MAKEINFO=true -j<PEON.CPUS.COUNT>
          && make MAKEINFO=true install-strip DESTDIR="<PEON.PREFIXDIR>"
          && cd ..

        && : /// mingw - headers ///
          && cd headers
          && CONFIGURE="<PEON.ROOTDIR>/var/x-mingw-w64/mingw/mingw-w64-headers/configure"
          && $CONFIGURE --prefix="<PEON.PREFIXDIR>/x86_64-w64-mingw32"
                        --enable-sdk=no
                        --host=x86_64-w64-mingw32
          && make install
          && cd ..

        && : /// symlinks ///
          && ln -s ./lib "<PEON.PREFIXDIR>/x86_64-w64-mingw32/lib64"
          && ln -s ./ "<PEON.PREFIXDIR>/x86_64-w64-mingw32/mingw"

        && : /// gcc - bootstrap stage, native compiler ///
          && cd gcc-bootstrap
          && CONFIGURE="<PEON.ROOTDIR>/var/x-mingw-w64/gcc/configure"
          && $CONFIGURE --prefix="$BOOTSTRAP_PREFIX"
                        --enable-languages=c,c++
                        --disable-bootstrap
                        --disable-multilib
                        --disable-nls
                        --disable-libssp
                        --disable-libgomp
                        --disable-libquadmath
                        --without-headers
                        --with-gmp=<PEON.ROOTDIR>/usr
                        --with-mpfr=<PEON.ROOTDIR>/usr
                        --with-mpc=<PEON.ROOTDIR>/usr
                        --with-isl=<PEON.ROOTDIR>/usr
        <PEON.OS=darwin?
                        --with-sysroot={PEON.ENV.SDKROOT}
        :>
          && make -j<PEON.CPUS.COUNT> all-gcc
          && make install-gcc
          && make -j<PEON.CPUS.COUNT> all-target-libgcc
          && make install-target-libgcc
          && make -j<PEON.CPUS.COUNT>
          && make install
          && cd ..

        && export PATH="$BOOTSTRAP_PREFIX/bin:$PATH"

        && : /// gcc - stage 0, cross-compiler with bootstrap GCC ///
          && cd gcc
          && CONFIGURE="<PEON.ROOTDIR>/var/x-mingw-w64/gcc/configure"
          && export CC="$BOOTSTRAP_PREFIX/bin/gcc"
          && export CXX="$BOOTSTRAP_PREFIX/bin/g++"
          && $CONFIGURE --prefix=
                        --enable-languages=c,c++
                        --target=x86_64-w64-mingw32
                        --disable-multilib
                        --disable-nls
                        --enable-version-specific-runtime-libs
                        --enable-fully-dynamic-string
                        --enable-libssp
                        --enable-lto
                        --with-sysroot=/x86_64-w64-mingw32
                        --with-build-sysroot="<PEON.PREFIXDIR>/x86_64-w64-mingw32"
                        --with-gmp=<PEON.ROOTDIR>/usr
                        --with-mpfr=<PEON.ROOTDIR>/usr
                        --with-mpc=<PEON.ROOTDIR>/usr
                        --with-isl=<PEON.ROOTDIR>/usr
                        --with-dwarf
          && make -j<PEON.CPUS.COUNT> all-gcc
          && make install-strip-gcc DESTDIR="<PEON.PREFIXDIR>"
          && cd ..

        && : /// mingw - crt ///
          && unset CC CXX CFLAGS CXXFLAGS LDFLAGS CPPFLAGS
          && cd crt
          && CONFIGURE="<PEON.ROOTDIR>/var/x-mingw-w64/mingw/mingw-w64-crt/configure"
          && $CONFIGURE --prefix="<PEON.PREFIXDIR>/x86_64-w64-mingw32"
                        --host=x86_64-w64-mingw32
                        --enable-lib64
          && make -j<PEON.CPUS.COUNT>
          && make install
          && cd ..

        && export CC="$BOOTSTRAP_PREFIX/bin/gcc"
        && export CXX="$BOOTSTRAP_PREFIX/bin/g++"
        && export CFLAGS="$_CFLAGS" CXXFLAGS="$_CXXFLAGS" LDFLAGS="$_LDFLAGS" CPPFLAGS="$_CPPFLAGS"

        && : /// gcc - stage 1 ///
          && cd gcc
          && make -j<PEON.CPUS.COUNT> all-target-libgcc
          && make install-target-libgcc DESTDIR="<PEON.PREFIXDIR>"
          && cd ..

        && : /// gcc - stage 2 ///
          && cd gcc
          && make -j<PEON.CPUS.COUNT>
          && make install-strip DESTDIR="<PEON.PREFIXDIR>"
      maketest: ''
      makeinstall: ''
    test: none
    env:
      PATH: '<PEON.PREFIXDIR>/bin:<PEON.ENV.PATH>'
      CFLAGS: '-O2 -g0 -fPIC -I<PEON.ROOTDIR>/usr/include -Wl,-rpath,<PEON.ROOTDIR>/usr/lib'
      CXXFLAGS: '-O2 -g0 -fPIC -I<PEON.ROOTDIR>/usr/include -Wl,-rpath,<PEON.ROOTDIR>/usr/lib'
      LDFLAGS: '-L<PEON.ROOTDIR>/usr/lib'
      CPPFLAGS: '-I<PEON.ROOTDIR>/usr/include'
      darwin/CPP: clang-cpp
  deploy: |-
    rm('<PEON.PREFIXDIR>/share/info');
    rm('<PEON.PREFIXDIR>/share/man/man7');
    rm('<PEON.PREFIXDIR>/share/gcc-14.3.0');
    rm('<PEON.PREFIXDIR>/lib64');
    rm('<PEON.PREFIXDIR>/lib/bfd-plugins/libdep.so');
  env:
    path:
      - usr/local/bin
    other: {}
  embedded: true
  runtime:
    configure: ''
