subpackage:
  - runtime*
  - 'x+bin:linux-aarch64'
name: raspberry+firmware-rpi4b
version: '1.20250915'
$version: '1.20250915'
distribution: raspberry/
maintainer:
  name: Mathieu Schroeter
  email: mathieu@schroetersa.ch
architecture:
  - source
description:
  brief: Firmware for RASPBERRY Pi4 model B
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
bump:
  - carnotzet+os-rpi4b
data:
  get:
    uri: 'https://github.com/raspberrypi/firmware/releases/download/<THIS.$VERSION>/raspi-firmware_<THIS.$VERSION>.orig.tar.xz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 1.20250915@545b5f8a624b98222c7b4ef4244ac219845993aba15e49d5440b21ccd722340e.tar.xz
  type: src
  configure: ''
  rules:
    type: script
    location: data/raspi-firmware-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: ''
      maketest: ''
      makeinstall: |-
        cp('boot/start4.elf',   '<PEON.INSTALLDIR.X+BIN>/boot/start4.elf');
        cp('boot/start4cd.elf', '<PEON.INSTALLDIR.X+BIN>/boot/start4cd.elf');
        cp('boot/fixup4.dat',   '<PEON.INSTALLDIR.X+BIN>/boot/fixup4.dat');
        cp('boot/fixup4cd.dat', '<PEON.INSTALLDIR.X+BIN>/boot/fixup4cd.dat');
    test: none
    env: {}
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
