subpackage:
  - runtime*
name: garcia+bw-web-builds
version: 2026.1.0
$version: 2026.1.0
distribution: epsitec/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Patched Bitwarden web UI for Vaultwarden
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://github.com/dani-garcia/bw_web_builds/archive/refs/tags/v<THIS.$VERSION>.tar.gz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
    $hash: 2026.1.0@1217b6ccb503658075ee4629474fc1a0e85b91418bd7c7add758c3baf9bb1e48.tar.gz
  type: src
  configure: ''
  rules:
    type: script
    location: data/bw_web_builds-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        !export LD_LIBRARY_PATH=
          && rm -rf /tmp/xcraft-415a7b5f
          && mkdir /tmp/xcraft-415a7b5f
          && cp -r . /tmp/xcraft-415a7b5f
          && cd /tmp/xcraft-415a7b5f
          && make full
      maketest: ''
      makeinstall: |-
        mv(
          '/tmp/xcraft-415a7b5f/builds/bw_web_v<THIS.$VERSION>+0',
          '<PEON.PREFIXDIR>/share/vaultwarden/web-vault'
        );
        rm('/tmp/xcraft-415a7b5f');
    test: none
    env:
      VAULT_VERSION: <THIS.$VERSION>
      NODE_ENV: development
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
