name: x-aarch64-linux+gnu-glibc
version: '2.41'
$version: '2.41'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: The GNU C Library
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/glibc/glibc-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    $hash: 2.41@a5a26b22f545d6b7d7b3dd828e11e428f24f4fac43c934fb071b6a7d0828e901.tar.xz
  type: bin
  configure: "mv('data/glibc-<THIS.$VERSION>', 'root/var/x-aarch64-linux/glibc');"
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
