name: x-arm-linux+gnueabihf-glibc5
version: '2.26'
$version: '2.26'
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - all
description:
  brief: The GNU C Library
  long: ''
dependency:
  install:
    xcraft+peon:
      - version: ''
        architecture: []
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
data:
  get:
    uri: 'http://ftpmirror.gnu.org/glibc/glibc-<THIS.$VERSION>.tar.xz'
    ref: ''
    out: ''
    externals: true
    $hash: 2.26@e54e0a934cd2bc94429be79da5e9385898d2306b9eaf3c92d5a77af96190f6bd.tar.xz
  type: bin
  configure: 'mv(''data/glibc-<THIS.$VERSION>'', ''root/var/x-arm-linux/glibc5'');'
  rules:
    type: move
    location: root
    args:
      postinst: ''
      prerm: ''
  env:
    path: []
    other: {}
  embedded: true
