subpackage:
  - runtime*
  - 'x+bin:linux-aarch64'
name: freedesktop+libdbus-rpi64
version: 1.16.2
$version: 1.16.2
distribution: raspberry/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: DBus
  long: ''
dependency:
  build:
    xcraft+peon:
      - version: ''
        architecture: []
    xcraft+build-essential:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-gcc-glibc-cross:
      - version: ''
        architecture: []
    meson+meson:
      - version: ''
        architecture: []
bump:
  - carnotzet+os-contelia-rpiz2w
  - carnotzet+os-rpi4b
  - carnotzet+os-rpiz2w
  - carnotzet+rescuefs-contelia-rpiz2w
  - carnotzet+rescuefs-rpi4b
  - carnotzet+rescuefs-rpiz2w
data:
  get:
    uri: 'https://dbus.freedesktop.org/releases/dbus/dbus-<THIS.$VERSION>.tar.xz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: ''
  type: src
  configure: |-
    !cd <THIS.DATA.RULES.LOCATION>
      && meson.pyz setup _build
                   --prefix=<PEON.PREFIXDIR>
                   --cross-file=<PEON.ASSETS>/cross.txt
  rules:
    type: script
    location: data/dbus-<THIS.$VERSION>
    args:
      postinst: ''
      prerm: ''
      makeall: '!meson.pyz compile -C _build'
      maketest: ''
      makeinstall: '!meson.pyz install -C _build'
    test: none
    env:
      LDFLAGS: '<PEON.ENV.LDFLAGS> -Wl,-rpath-link,<PEON.PROD.ROOTDIR>/usr/lib'
      PKG_CONFIG_ALLOW_CROSS: '1'
      PKG_CONFIG_PATH: <PEON.PROD.ROOTDIR>/usr/lib/pkgconfig
  deploy: ''
  env:
    path: []
    other: {}
  embedded: true
  runtime:
    configure: ''
