subpackage:
  - runtime*
name: rustlang+rust
version: 1.91.1
$version: 1.91.1
distribution: toolchain/
maintainer:
  name: Mathieu Schroeter
  email: schroeter@epsitec.ch
architecture:
  - source
description:
  brief: Language empowering everyone to build reliable and efficient software
  long: ''
dependency:
  build:
    xcraft+base-build:
      - version: ''
        architecture: []
    vanrossum+python3:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
          - linux-aarch64
          - darwin-i386
          - darwin-amd64
          - darwin-aarch64
    ninja+ninja:
      - version: ''
        architecture: []
    x-aarch64-linux+gnu-gcc-glibc-cross:
      - version: ''
        architecture:
          - linux-i386
          - linux-amd64
          - linux-aarch64
  make:
    xcraft+base-make:
      - version: ''
        architecture: []
bump: []
data:
  get:
    uri: 'https://static.rust-lang.org/dist/rustc-<THIS.$VERSION>-src.tar.xz'
    mirrors: []
    ref: ''
    $ref: ''
    out: ''
    externals: true
    prepare: |-
      mv('data/rustc-<THIS.$VERSION>-src', '<THIS.DATA.RULES.LOCATION>');
      rm('data');
  type: src
  configure: |-
    !{bash}
      cd <THIS.DATA.RULES.LOCATION>
        && ./configure --prefix=<PEON.PREFIXDIR>
                       --sysconfdir=etc
                       --enable-llvm-static-stdcpp
                       --enable-ccache
                       --enable-ninja
                       --release-channel=stable
                       --disable-codegen-tests
    <PEON.OS=linux?
                       --host=x86_64-unknown-linux-gnu
                       --build=x86_64-unknown-linux-gnu
                       --target=aarch64-unknown-linux-gnu,x86_64-unknown-linux-gnu
                       --set llvm.targets="X86;AArch64"
                       --set target.aarch64-unknown-linux-gnu.cc=aarch64-xcraft-linux-gnu-gcc
                       --set target.aarch64-unknown-linux-gnu.cxx=aarch64-xcraft-linux-gnu-g++
                       --set target.aarch64-unknown-linux-gnu.ar=aarch64-xcraft-linux-gnu-ar
                       --set target.aarch64-unknown-linux-gnu.linker=aarch64-xcraft-linux-gnu-gcc
    :>
  rules:
    type: script
    location: src
    args:
      postinst: ''
      prerm: ''
      makeall: |-
        !
        <PEON.OS=darwin?
          mkdir -p $HOME/lib && cp -f {PEON.ROOTDIR}/usr/lib/libunwind.* $HOME/lib/ &&
        :>
          python3 x.py build
        <PEON.OS=darwin?
          ; rm -f $HOME/lib/libunwind.*
        :>
      maketest: ''
      makeinstall: |-
        !
        <PEON.OS=darwin?
          mkdir -p $HOME/lib && cp -f {PEON.ROOTDIR}/usr/lib/libunwind.* $HOME/lib/ &&
        :>
          python3 x.py install && python3 x.py install cargo
        <PEON.OS=darwin?
          ; rm -f $HOME/lib/libunwind.*
        :>
    test: none
    env:
      RUSTFLAGS: '-C link-args=-Wl,-rpath,<PEON.ROOTDIR>/usr/lib'
      linux/CC: gcc
      linux/CXX: g++
      linux/AR: <PEON.ROOTDIR>/usr/bin/ar
      win/CC: x86_64-w64-mingw32-gcc
      win/CXX: x86_64-w64-mingw32-g++
      win/MSYS2_ARG_CONV_EXCL: '--prefix;--sysconfdir;--localstatedir'
      win/AR: ar
  deploy: ''
  env:
    path:
      - var/lib/cargo/bin
    other:
      RUSTFLAGS: '-C link-args=-Wl,-rpath,<OS.PROD.ROOTDIR>/usr/lib'
      CARGO_HOME: <OS.ROOTDIR>/var/lib/cargo
  embedded: true
  runtime:
    configure: ''
